@font-face {
  font-family: "Poppins";
  src: url("../Poppins-Regular.ttf") format("truetype");
}

* {
  font-family: Poppins;
}

.header {

  .logo {
    height:34px;
    width:50px;
    display: inline;
  }

  .appname {
    display: inline;
  }
}
